<nav>
  <img id="nav-logo" src="/images/logo.png" />
  <a id="nav-title" href="/" >myspaces</a>
  <a id="nav-browse" href="/maps">Browse</a>
  <a id="nav-login" href="/login">Login</a>
  <a id="nav-signup" href="/signup">Sign up</a>
</nav>
