doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/styles/layout.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      include header
      block content
