<!DOCTYPE html>
<html>
  <head>
    <title>MySpaces</title>
    <%- include('./partials/_dependencies') %>
    <script src="/scripts/create-map.js"></script>
  </head>

  <body>
    <%- include('./partials/_nav') %>
    <main>
      <h1>Map Creator</h1>
      <h2>Click on map to add your favourite spaces:</h2>
      <section class="map-container">
        <div id="mapid"></div>
      </section>
      <section class="save-delete-map">
        <div class="save-map-container">
          <button type="button" id="save-map" class="btn btn-success">
            Save Map
          </button>
        </div>
        <div class="delete-map-container">
          <button type="button" id="delete-map" class="btn btn-danger">
            Clear Map
          </button>
        </div>
      </section>
      <section class="create-map-form">
        <article class="save-map-name-form"></article>
      </section>
    </main>
  </body>
</html>
