<!DOCTYPE html>
<html>

<head>
  <title>MySpaces</title>
  <%- include('./partials/_dependencies') %>
  <script src="/scripts/app-create-map.js"></script>
</head>

<body>
  <main>
    <%- include('./partials/_nav') %>
    <div class="content">
      <h1>Map Creator</h1>
      <h2>Add your favourite spaces to the map:</h2>
    </div>
    <div id="mapid"></div>
    <section class=create-map-form>

    </section>
  </main>
</body>

</html>
