<!DOCTYPE html>
<html>
  <head>
    <title>MySpaces</title>
    <%- include('./partials/_dependencies') %>
  </head>
  <body>
    <main>
      <%- include('./partials/_nav') %>
      <div class="content">
        <h1>Hello world!</h1>
        <h2>I like turtles</h2>
      </div>
      <div id="mapid"></div>
    </main>
  </body>
</html>
