<!DOCTYPE html>
<html>
  <head>
    <title>MySpaces</title>
    <%- include('./partials/_dependencies') %>
    <script src="/scripts/index.js"></script>
  </head>
  <body>
    <%- include('./partials/_nav') %>
    <main id="maps-list-container"></main>
  </body>
</html>
