<!DOCTYPE html>
<html>

<head>
  <title>MySpaces</title>
  <%- include('./partials/_dependencies') %>
  <script src="/scripts/app-create-map.js"></script>
</head>

<body>
  <main>
    <%- include('./partials/_nav') %>
    <div class="content">
      <h1>Map Creator</h1>
      <h2>Add your favourite spaces to the map:</h2>
      <section class="map-container">
        <div id="mapid"></div>
      </section>
      <section class="save-delete-map">
        <button type="button" id="save-map" class="btn btn-success">Save Map</button><br>
        <button type="button" id="delete-map" class="btn btn-danger"> Delete Map </button>
      </section>
      <section class=create-map-form>

      </section>
  </main>
</body>

</html>
