$primary-color: blue;
$light-text-color: #dddddd;
$lighter-text-color: #eeeeee;
$lightest-text-color: #ffffff;
$dark-text-color: #222222;
$darker-text-color: #111111;
$darkest-text-color: #000000;

$header-font: sans-serif;
$paragraph-font: serif;
