body {
  font-family: sans-serif;

  h1 {
    color: #244751;
  }
}

nav {
  background-color: blue;
  display: flex !important;
  justify-content: stretch;
  height: 56px;
  align-items: center;
  font-size: 20px;

  * {
    padding: 0 8px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  #nav-browse {
    margin-left: auto 0;
    justify-self: end;
  }

  #nav-create {
    margin-left: auto;
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
  }
}

.content {
  margin: 0 auto;
  width: 80%;
}

#mapid {
  height: 250px;
  width: 500px;
}
