.locations-list {

  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;

  .location-card {

    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 176px;
    width: 75vw;
    max-width: 1000px;
    border-radius: 15px;
    border-style: solid;
    border-color: lightgray;
    word-wrap: break-word;
  }

  div{
    margin: 10px;
    width: 57vw;
    max-width: 775px;

    h4 {
      margin: 5px auto;
      border-bottom: solid;
      border-color: lightgray;
    }

    p {
      margin: 5px auto;
      height: 70px;
    }

    div {
      display: flex;
      flex-direction: row;
      justify-items: space-between;
      justify-content: space-between;
      align-content: space-between;
      align-items: space-between;

      button {
        width: 75px;
        margin-right: 10px;
      }
    }
  }
}

.delete-map-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  padding: 15px;
  height: 68px;
  width: 75vw;
  margin: 0 auto;

  .warning {
    margin-top: 5px;
    margin-right: 20px;
    color: darkred;
  }

}
